<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的-登录</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	 <meta name="viewport" content="width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable = yes,initial-scale=1, minimum-scale=1, maximum-scale=1">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="../public/style/base.css">
	<link rel="stylesheet" href="../public/style/myIndex.css">
	<script src="../app.js"></script>
	<script src="../routes/index.js"></script>
	<script src="../routes/users.js"></script>
	<script src="../public/js/zepto.min.js"></script>
	<script src="../public/js/remstyle.js"></script>
	<script src="../public/js/myIndex.js"></script>

</head>
<body>
	<div class="myPng">
		<header class="myLoadnav">
			<a class="mySetting"></a>
			<span>我的</span>
			<a class="myNews"><i></i></a>
		</header>
		<div class="myfcoued">
			<div class="myLoading">
				<img src="images/myhead.png" alt="">
				<em>小林</em>
			</div>
			<div class="noLoaded" style="display: none;">
				<img src="images/noload.png" alt="">
				<em>登录/注册</em>
			</div>
			<ul class="aboutMe">
				<li>
					<span>100</span>
					<p>商品收藏</p>
				</li>
				<li>
					<span>20</span>
					<p>店铺收藏</p>
				</li>
				<li>
					<span>304</span>
					<p>浏览记录</p>
				</li>
			</ul>
		</div>
	</div>
	<section>
		<div class="allOrder">
			<h2 class="innerOrder"><i></i>全部订单</h2>
			<p class="checkOrder">查看全部订单<i></i></p>
		</div>
		<ul class="transactList">
			<li class="pendingPay">
				<i></i>
				<p>待付款</p>
			</li>
			<li class="receiptGoods">
				<i></i>
				<p>待收货</p>
			</li>
			<li class="toEvaluated">
				<i></i>
				<p>待评价</p>
			</li>
			<li class="hasCompleted">
				<i></i>
				<p>已完成</p>
			</li>
		</ul>
		<ul class="mationCount">
			<li class="myInformation">
				<h2 class="myInfor myCoupons"><i></i>我的电子券</h2>
				<i class="inforPng"></i>
			</li>
			<li class="myInformation">
				<h2 class="myInfor myAddress"><i></i>收货地址</h2>
				<i class="inforPng"></i>
			</li>
			<li class="myInformation">
				<h2 class="myInfor myCard"><i></i>我的银行卡</h2>
				<i class="inforPng"></i>
			</li>
			<li class="myInformation">
				<h2 class="myInfor myAppoint"><i></i>我的预约</h2>
				<i class="inforPng"></i>
			</li>
			<li class="myInformation">
				<h2 class="myInfor myService"><i></i>客服热线</h2>
				<i class="inforPng"></i>
			</li>
		</ul>
	</section>
	<footer class="myFoot">
		<div class="myFirstpage">
			<i></i>
			<p>首页</p>
		</div>
		<div class="shoppingCar">
			<i></i>
			<p>购物车</p>
		</div>
		<div class="shoppingMe myColor">
			<i class="imgOn"></i>
			<p>我的</p>
		</div>
	</footer>
	<div class="outPage" style="display: none;">
		<div class="innerpage">
			<button>客服热线：95577</button>
			<button>取消</button>
		</div>
	</div>
</body>
</html>